doctype html
html(lang="ro")
  head
    title= "Maps MD"
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel="stylesheet",href="../node_modules/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet",href="../node_modules/leaflet/dist/leaflet.css")
    link(rel='stylesheet', href='main.css')
    script(src="../node_modules/jquery/dist/jquery.min.js")
    script(src="../node_modules/bootstrap/dist/js/bootstrap.min.js")
    script(src="../node_modules/leaflet/dist/leaflet.js")
    script(src="../main.js")
  body
    #navbar
      i(id="menu-toggle").fa.fa-bars
      a(href="http://plus.google.com/b/113535330064210166862/113535330064210166862/posts", target="_blank")
        i.fa.fa-google-plus.pull-right
      a(href="http://www.facebook.com/hartamd", target="_blank")
        i.fa.fa-facebook-official.pull-right
      a(href="http://twitter.com/hartamd", target="_blank")
        i.fa.fa-twitter.pull-right
    #wrapper
      #sidebar-wrapper
      #page-content-wrapper
        #map
      

